.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
.emoticon {
  display: inline-block;
  width: 71px;
  height: 71px;
  margin: 1.5rem auto;
}

.calendar > div {
  display: inline-block;
  width: 71px;
  height: 71px;
  margin: 1.5rem auto;
}
.daily-entry {
  textarea {
    width:567px;
  }
}
